html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    font-size: xx-large;
}

div {
    flex: 1;
    margin: 0px;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    font-size: 32vw;
}

div.server {
    background-color: white;
    color: black;
}
div.client {
    background-color: black;
    color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}
